<button (click)="isAuthenticated = !isAuthenticated" type="button" class="btn btn-primary mb-5">
  Toggle is Authenticated
</button>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam odio dui, pellentesque quis fermentum eget, fermentum ac
  augue. Nunc mattis orci vitae justo interdum, efficitur vestibulum lectus hendrerit. Nam sit amet blandit dolor.
  Suspendisse potenti. Nunc tristique est ex, a ultrices lectus suscipit non. Donec commodo, augue at scelerisque
  pharetra, metus magna congue magna, ut lobortis ex mi in mi. Phasellus non erat tristique, mattis nulla vitae, euismod
  neque. Mauris blandit vel justo a auctor. Nullam suscipit velit massa, cursus euismod eros pellentesque eget. Morbi
  porta vitae nisl ut ullamcorper. Integer vestibulum dolor vel ante tempus cursus.

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in luctus justo, non sollicitudin felis. Morbi sit amet
  ligula id odio fermentum feugiat eu mollis lorem. Phasellus dignissim maximus massa, non condimentum arcu accumsan a.
  Etiam diam ante, commodo a enim eu, maximus tempus turpis. Ut eu ligula sed lacus sagittis posuere. Phasellus sed quam
  ut sapien tristique tincidunt sed at nisl. Sed pharetra convallis dolor, non elementum ligula tincidunt sit amet.
  Proin quam felis, semper vel pellentesque eu, condimentum id libero. Curabitur nec rutrum velit, eget facilisis enim.
  Aliquam enim turpis, volutpat sit amet massa quis, elementum tempor diam. Nam elit purus, feugiat a risus in, congue
  ornare dolor. Nunc id justo interdum, dignissim est id, pretium quam. Mauris gravida diam vel iaculis lacinia. Integer
  dolor odio, ultrices at semper ut, porttitor eu urna. Cras eu suscipit diam, a aliquet mauris.</p>
