<div class="jumbotron">
  <h1 class="display-4">Lorem ipsum</h1>
  <p class="lead">Pellentesque sit amet tortor odio. Morbi tempus tortor et metus laoreet, sed eleifend dui laoreet.
    Nulla sit amet risus tempor, pulvinar velit eget, vehicula ex.</p>
  <hr class="my-4">
  <p>Nulla elementum leo vitae ipsum varius malesuada. Pellentesque id iaculis dui. Duis convallis placerat augue at
    laoreet.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" [routerLink]="['/', 'about']" role="button">About</a>
  </p>
</div>
